.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix


# Ignore all directories in content except for subdirectory resources
# content/*/
# !content/*areas/
# content/*areas/Interview
# !content/assets

.credentials.md
.secrets.md
